*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Gabarito", sans-serif;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    align-items: center;
    margin-right: 40px;
    position: sticky;
    background-color: #ffff;
    top: 0;
    z-index: 1;
}
.header__s1 img{
     width: 190px;
}
.header__s2{
    display: flex;
    gap: 45px;
}
.header__s3{
    display: flex;
}
.header__s3 button{
    background-color: black;
    color: #ffff;
    width: 70px;
    font-weight: 10px;
    height: 40px;
    border-radius: 30px;
}
.navbar__title{
    text-align: center;
    font-size: x-large;
    margin-top: 40px;
}
.navbar__menu{
    margin-top: 38px;
    text-align: center;
    display: flex;
    gap: 25px;
    margin-left: 28%;
}
.navbar__menu img{
    width: 25px;
}
.navbar__menu p{
    align-items: center;
    display: flex;
}
.navbar__menu__border{
    display: inline-block;
    border-bottom: solid black 3px;
}
.navbar__search{
    margin-top: 25px;
    padding: 10px;
    border: solid  whitesmoke 5px;
    border-radius: 30px;
    display: flex;
    gap: 30px;
    width: 43%;
    position: relative;
    margin-left: 450px;
}
.navbar__search button{
    background-color:#34e0a1;
    color: black;
    width: 85px;
    height: 40px;
    border-radius: 30px;
    border: solid whitesmoke 2px;
    position: absolute;
    top: 2px;
    margin-left: 49%;
    font-size: 15px;
}
.navbar__search input{
    border: 100px;
    font-size: 18px;
    width: 100%;
}
.saleimage{
    position: relative;
}
.saleimage__s1{
    height: 380px;
    width: 69%;
    margin-top: 55px;
    background-color: #ff5d5d;
    margin-left: 15%;
    border-radius: 8px;
}
.saleimage__s1 img{
    height: 90%;
    width: 48%;
    padding: 22px;
}
.saleimage__s2 img{
    height: 93%;
    width: 10px;
    top: 8px;
    position: absolute;
    left: 50%;
    margin-top: 8px;
}
.saleimage__s1 button{
    background-color: #ff5d5d;
    color: black;
    width: 100px;
    font-size: 20px;
    height: 40px;
    border-radius: 30px;
    border: solid black 1px;
    position: absolute;
    top: 80%;
    margin-left: 2%;
}
.saleimage-content__s3{
   position: absolute;
   left: 52%;  
   font-size: xx-large;
   top: 400px;
}
.saleimage-content__s3 p{
    font-size: 20px;
    margin-top: 15px;
}
.saleimage-content__s3 button{
    background-color:black;
    color: #ffff;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 290px;
    font-size: 15px;
}
.saleimage-content__s3 img{
    height: 22px;
    margin-left: 120%;
    margin-top: 13%;
}
.categories{
    padding: 60px;
}
.categories__s1{
    margin-left: 183px;
}
.categories__s1__title{
    font-size: 28px;
}
.categories__container{
    display: flex;
    gap: 10px;
    margin-left: 182px;
    margin-top: 20px;
}
.categories__card{
    width: 21%;
    position: relative;
}
.categories__card h2{
    position: absolute;
    top: 220px;
    color: #ffff;
    left: 15px;
    font-size: 28px;  
}
.categories__card img{
    width: 97%;
    border-radius: 8px;
}
.explore{
    margin-top: 10px;
    position: relative;
}
.explore__s1{
    margin-left: 15%;
}
.explore__s1__title{
    font-size: 28px;
}
.explore__container{
    display: flex;
    gap: 10px;
    margin-left: 238px;
    margin-top: 20px;
}
.explore__card{
    width: 20%;
    position: relative;
}
.explore__card img{
    width: 97%;
    border-radius: 8px;
}
.explore__card i{
    position: absolute;
    top: 10px;
    background-color: #ffff;
    border: solid #ffff 15px;
    border-radius: 40px;
    left: 210px;
}
.explore__card__arrow{
    position: absolute;
    margin-left: 68%;
    font-size: 36px;
    border: solid black 1px;
    border-radius: 50%;
    top: 170px;
    background-color: #ffff;
    z-index: 1;
    width: 38px;
}
.Inspiration{
    margin-top: 60px;
    height: 450px;
    width: 100%;
    background-color: #f2f1ec;
}
.Inspiration__title{
    padding: 30px;
    font-size: 24px;
    margin-left: 13%;
}
.Inspiration__container{
    display: flex;
    margin-left: 15%;
}
.Inspiration__card{
    height: 200px;
    position: relative;
}
.Inspiration__card i{
    position: absolute;
    top: 8px;
    background-color: #ffff;
    border: solid #ffff 15px;
    border-radius: 40px;
    left: 300px;
}
.Inspiration__card img{
    width: 90%;
    border-radius: 5px;
}
.Inspiration__card p{
    margin-top: 10px;
    font-size: 22px;
}
.Things{
    margin-top: 5%;
    position: relative;
}
.Things__container{
    display: flex;
    gap: 10px;
    margin-left: 238px;
    margin-top: 20px;
}
.Things__card{
    width: 20%;
    position: relative;
}
.Things__card img{
    width: 97%;
    border-radius: 8px;
}
.Things__card i{
    position: absolute;
    top: 10px;
    background-color: #ffff;
    border: solid #ffff 15px;
    border-radius: 40px;
    left: 210px;
}
.Things__arrow{
    position: absolute;
    margin-left: 68%;
    font-size: 36px;
    border: solid black 1px;
    border-radius: 50%;
    top: 175px;
    background-color: #ffff;
    z-index: 1;
    width: 38px;
}
.Things__s1{
    margin-left: 15%;
}
.Things__s1__title{
    font-size: 28px;
}
.Things__card button{
    background-color: #c9f2e3;
    width: 23%;
    border: #ffff;
    height: 7%;
    border-radius: 5px;
}
.Iconic{
    padding: 60px;
}
.Iconic__s1{
    margin-left: 183px;
}
.Iconic__s1__title{
    font-size: 28px;
}
.Iconic__container{
    display: flex;
    gap: 10px;
    margin-left: 182px;
    margin-top: 20px;
}
.Iconic__card{
    width: 21%;
    position: relative;
}
.Iconic__card h2{
    position: absolute;
    top: 220px;
    color: #ffff;
    left: 15px;
    font-size: 28px;  
}
.Iconic__card img{
    width: 97%;
    border-radius: 8px;
}
.offer{
    height: 500px;
    width: 70%;
    background-color: #f2ecf9;
    margin-left: 15%;
    position: relative;
}
.offer img{
    padding: 20px;
    height: 460px;
    width: 48%;
}
.offer__content__s1{
    display: flex;
    top: 160px;
    left: 63%;
    align-items: center;
    position: absolute;
}
.offer__content__s1 img{
    width: 10%;
    height: 27px;
    top: 10px;
}
.offer__content__s2{
    position: absolute;
    font-size: 35px;
    top: 220px;
    left: 62%;
}
.offer__content__s3{
    position: absolute;
    top: 264px;
    left: 62%;
}
.offer__button{
    position: absolute;
    top: 63%;
    left: 67%;
    padding-left: 7px;
    padding-top: 10px;
    background-color: black;
    color: #ffff;
    width: 110px;
    font-size: 20px;
    height: 40px;
    border-radius: 32px;
    border: solid black 1px;
}
.Browse{
    padding: 60px;
}
.Browse__s1{
    margin-left: 183px;
}
.Browse__s1__title{
    font-size: 28px;
}
.Browse__container{
    display: flex;
    gap: 10px;
    margin-left: 182px;
    margin-top: 20px;
}
.Browse__card{
    width: 21%;
    margin-top: 10px;
    position: relative;
}
.Browse__card img{
    height: 330px;
    width: 96%;
    border-radius: 8px;
}
.Browse__desc{
    position: absolute;
    top: 290px;
    color: #ffff;
    left: 10px;
    font-size: 25px;  
}
.Browse__desc__special{
    position: absolute;
    top: 260px;
    color: #ffff;
    left: 10px;
    font-size: 25px;  
}
.Browse__arrow{
    position: absolute;
    margin-left: 88%;
    font-size: 36px;
    border: solid black 1px;
    border-radius: 50%;
    top: 150px;
    background-color: #ffff;
    z-index: 1;
    width: 38px;
}
.Footer{
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
    display: flex;
    padding-left: 16%;
    padding-top: 3%;
    gap: 40px;    
}
.Footer :hover{
    display: inline-block;
    border-bottom: solid black 2px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    body{
        flex-basis: 20%;
        font-size: 10px;
        flex-grow: 1;
    }
}
